.block {
	display: flex;

	margin-bottom: 20px;

	background-color: var(--grey);

	&__img1 {
		margin-right: 20px;
	}

	&__img1,
	&__img2 {
		min-height: 80vh;
		max-height: 80vh;
		min-width: calc(50% - 10px);
		max-width: calc(50% - 10px);

		img {
			min-height: 80vh;
			max-height: 80vh;
		}
	}

	picture {
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		max-height: 100%;
	}
}

@media screen and (max-width: 991px) {
	.block {

		&__img1,
		&__img2 {
			min-height: 50vh;
			max-height: 50vh;

			img {
				min-height: 50vh;
				max-height: 50vh;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.block {
		flex-direction: column;

		margin-bottom: 5px;

		&__img1 {
			margin-right: 0;
			margin-bottom: 5px;
		}

		&__img1,
		&__img2 {
			min-height: 70vh;
			max-height: 70vh;
			min-width: 100%;
			max-width: 100%;

			img {
				min-height: 70vh;
				max-height: 70vh;
			}
		}
	}
}