.password {
    max-width: 450px;
    padding-top: 50px;

    &__title {
        margin-bottom: 55px;
        font-weight: normal;
        color: var(--primary);
    }

    &__input {
        margin-bottom: 45px;
    }

    &__btns {
        display: flex;
        align-items: center;
        pointer-events: none;

        button {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .password {
        min-height: 60vh;
        max-width: none;

        &__title {
            display: none;
        }

        &__btns {
            button {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}