.checkbox {
	position: relative;

	display: flex;
	align-items: center;

	&__label {
		display: flex;
		align-items: center;

		margin-left: 30px;

		cursor: pointer;

		font-family: inherit;
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;

		&_validation {
			transition: all 0.15s ease;

			color: var(--primary);
		}
	}

	&__input {
		position: absolute;
		z-index: -1;

		opacity: 0;

		& + label {
			display: inline-flex;
			align-items: center;

			user-select: none;

			&::before {
				position: absolute;
				top: 5px;
				left: 0;

				display: inline-block;
				flex-grow: 0;
				flex-shrink: 0;

				width: 16px;
				height: 16px;

				content: "";

				border: 1px solid var(--black);
				background-color: transparent;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 85% 90%;
			}
		}

		&_validation {
			& + label {
				&::before {
					transition: all 0.15s ease;

					border: 1px solid var(--primary);
				}
			}
		}

		&:checked + label::before {
			background-color: white;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.383' height='9.787' viewBox='0 0 13.383 9.787'%3E%3Cpath id='_Color' data-name=' ↳Color' d='M4.258,7.742,1.065,4.674,0,5.7l4.258,4.09,9.125-8.765L12.318,0Z' fill='%23231f53'/%3E%3C/svg%3E%0A");
		}
	}
}
